
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #764ba2;
  --second-color: #c4a1c6;
  --background-color: #2d1b3d;
  --font-family: papyrus;
  --text-font: "Century Gothic", sans-serif;
}

body{
  /*margin: 0;*/
  font-family: sans-serif;
  background: #2d1b3d;
  min-height: 100vh;

}
.navbar {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /*width: 100%;*/
  height: 80px;
  z-index: 1000;
  /*box-sizing: border-box;*/
  
}
.logo img {
  height: 80px;
  width: auto;/*Nuevo*/
}
.nav-links {
  display: flex;
  gap: 400px; /*40*/
  list-style: none;
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
}


.nav-links a{
  font-family: papyrus;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}
.nav-links a:hover{
  color: #DB8DE0;
}

main {
  padding-top: 80px;
}
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
  gap: 30px;
  
}
#hero h1 {
  font-family: var(--font-family);
  font-size: 40px;
  color: white;
  
}
#hero .btn {
  
  font-size: 30px;
  font-family: var(--font-family);
  transition:  .3s linear;
  cursor: pointer;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 30px;
  border: 4px solid #c4a1c6;
}
.btn:hover{
  background-color: #5D859E;
  box-shadow: 
  0 0 5px #5D859E, 0 0 300px #DB8DE0, 0 0 50px blueviolet, 0 0 100px #431922, 0 0 300px #BA8DE0;
}
#hero .mando {
  width: 55px;         
  height: 55px;
  object-fit: contain;
}
#perfil, #misiones, #contacto {
  font-family: var(--font-family);
  margin: 40px 20px;
  padding: 20px;
  text-align: center;
  scroll-margin-top: 100px;
  color: white;
 
}
#perfil, #misiones, #contacto h2 {
  font-family: 2em;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.perfil {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-width: 1200px;
 
}
.rectangulo {
  width: 100%;
  background-color: rgb(18, 18, 19);
  padding: 40px;
  border: 4px solid var(--second-color);
  display: flex;
  align-items: center;
  gap: 40px;
  
 }
.contenedor{
  flex-shrink: 0;
  
}
.contenedor img{
  height: 400px;
  width: 300px;
  object-fit: cover;
  box-shadow: rgba(222, 126, 209, 0.19) 0px 10px 20px, rgba(211, 84, 185, 0.23) 0px 6px 6px;
} 
.texto-contenido{
  flex: 1;
  color: white;
}
#nombre {
  font-family: var(--text-font);
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
  }
.texto-contenido p{
  font-family: var(--text-font);
  text-align: justify;
  color: white;
  margin-bottom: 15px;
  line-height: 1.6;
}
#misiones {
  max-width: 1400px;
  margin: 0 auto;
}

.misiones-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));/*Crea una cuadrícula que se adapta automáticamente al tamaño de la pantalla, sin necesidad de escribir media queries adicionales.*/
  gap: 30px;
  padding: 0 20px;
  
}
.mision {
  background: linear-gradient(135deg, #75296e 0%, #764ba2 100%);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.mision:hover {
transform: translateY(-5px); /*Mueve un elemento en el eje Y (vertical)*/
}
.mision-encabezado {
  padding: 20px 20px 15px 20px;
}
.mision h3 {
  color: white;
  font-size: 1.4em;
  margin-bottom: 12px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.xp, .dificultad {
  color: #ffffff;
  font-weight: bold;
  font-size: 0.85em;
}
.dificultad {
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  width: fit-content;
}

.mision-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.mision-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dificultad.baja {
  background: rgba(76, 175, 80, 0.8);
}
.dificultad.media {
  background: rgba(232, 229, 88, 0.8);
}
.dificultad.alta {
  background: rgba(235, 43, 43, 0.8);
}

.descripcion {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  color: white;
  background: black;
  transition: max-height 0.4s ease, padding 0.4s ease;
  line-height: 1.6;
  font-family: var(--text-font);
}
.mision:hover .descripcion {
  max-height: 300px;
  padding: 20px;
}
.toggle-descripcion {
  display: none;
}
.toggle-label {
  display: none;
}
/*
@media (max-width: 768px) {
.toggle-label {
  display: block;
}

.mision:hover .descripcion {
  max-height: 0;
  padding: 0 20px;
}
}
.dificultad.media {
  background: rgba(255, 152, 0, 0.8);
}

.dificultad.alta {
  background: rgba(244, 67, 54, 0.8);
}*/
#habilidades {
  padding: 60px 20px;
  max-width: 900px;
  margin: 0 auto;
  scroll-margin-top: 100px;
}
/*#habilidades h2 {
  font-family: var(--font-family);
  text-align: center;
  margin-bottom: 40px;
  color: white;
  font-size: 2em;
}*/

/* Lista de habilidades */
.habilidades-lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;/*nuevo*/
  max-width: 900px;/*nuevo*/
  margin: 0;/*nuevo*/
}

.habilidad {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgba(18, 18, 19, 0.9);
  border: 3px solid #6f3e72;
  border-radius: 15px;
  padding: 20px;
  transition: all 0.3s ease;
}

.habilidad.desbloqueada:hover {
  transform: translateX(10px);
  box-shadow: 0 0 30px rgba(102, 126, 234, 0.5);
  border-color: #d491ed;
}


.habilidad.bloqueada {
  opacity: 0.6;
  border-color: #4a4a5e;
}

.habilidad.bloqueada:hover {
  opacity: 0.8;
}

/* Círculo con el icono */
.icono-habilidad {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  flex-shrink: 0;
}

/* Icono para habilidades desbloqueadas */
.habilidad.desbloqueada .icono-habilidad {
  background: linear-gradient(135deg, #667eea, #764ba2);
  border: 4px solid #e8e0ea;
  box-shadow: 0 0 20px rgba(167, 52, 177, 0.5);
}

/* Icono para habilidades bloqueadas */
.habilidad.bloqueada .icono-habilidad {
  background: linear-gradient(135deg, #4a4a5e, #2c2c3e);
  border: 4px solid #6b6b7e;
}

/* Información de la habilidad */
.info-habilidad {
  flex: 1;
}

.info-habilidad h3 {
  font-family: var(--font-family);
  color: white;
  margin: 0 0 5px 0;
  font-size: 1.3em;
}

.info-habilidad p {
  font-family: var(--text-font);
  color: #ccc;
  margin: 0;/*0 0 10px 0*/
  font-size: 0.9em;
}

/* Estado de la habilidad */
.estado {
  font-family: var(--text-font);
  font-weight: bold;
  font-size: 0.85em;
  padding: 5px 12px;
  border-radius: 15px;
  display: inline-block;
  white-space: nowrap;/*nuevo*/
}

/* Estado para completados */
.habilidad.desbloqueada .estado {
  background-color: #4caf50; 
  color: white;
}

/* Estado para bloqueados */
.habilidad.bloqueada .estado {
  background-color: #bd3131;
  color: white;
}

/* Badge de nivel */
.nivel {
  font-family: var(--font-family);
  background-color: #667eea;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 0.9em;
  white-space: nowrap;/*nuevo*/
 /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);*/
}
.bloqueado {
  background-color: #6b6b7e;
}

/* Para móviles */
/*@media (max-width: 768px) {
  .habilidad {
    flex-direction: column;
    text-align: center;
  }
  
  .nivel {
    width: 100%;
  }
}*/
#formulario {
  max-width: 600px;
  padding: 25px;
  margin: 40px auto;
  width: 90%;
  background-color: rgba(29, 20, 30, 0.9);

}
#formulario fieldset {
  border: 5px groove var(--primary-color);
  padding: 20px;
}
legend {
  color: white;
  font-family: var(--font-family);
  /*justify-content: center;*/
  padding: 0 10px;/*nuevo*/
  font-size: 2.0em;
  /*text-align: center;*/
}
label {
  color: white;
  font-family: var(--text-font);
  display: block;/*nuevo*/
  margin-top: 15px;/*nuevo*/
  margin-bottom: 5px;/*nuevo*/
}
input, textarea {/*nuevo*/
  width: 100%;
  padding: 10px;
  border: 2px solid var(--second-color);
  background: white;
  font-family: var(--text-font);
}
textarea {
  resize: vertical;
}
.btn1 {/*nuevo*/
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: var(--primary-color);
  color: white;
  border: 2px solid var(--second-color);
  font-family: var(--font-family);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn1:hover {
  background-color: #ad59b6;
 
}
#contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 30px;
  width: 100%;
  scroll-margin-top: 100px;
  background-color: rgb(87, 22, 90);
  margin: 40px 0 0 0;
}
#contacto h2 {
  font-family: var(--font-family);
  font-size: 2em;
  margin-bottom: 30px;
  color: white;
}
.links1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none; 
}
.links1 a{
  display: block;
  transition: transform 0.3s;
}
.links1 a:hover{
  transform: scale(1.3);
}
.links1 img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
footer {
  margin-top: 0px;
}
.nav-cookies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  width: 100%;
  gap: 20px;
  background-color: rgb(0, 0, 0);  
}
.footer-logo img{
  height: 80px;
}
.derechos{
  color: white;
  white-space: nowrap;
  font-size: 0.85em;
}
 
.languageList {
  display: flex;
  list-style: none;
  gap: 30px;
}
.languageList li {
  list-style: none;
}
.languageList a {
  color: white;
  font-family: var(--text-font);
  text-decoration: none;
  font-size: 0.85em;

}
.languageList a:hover {
  color: white;
}
.language-select label {
  color: white;
  font-family: var(--text-font);
  font-size: 0.85em;
  margin-right: 10px;
}
#language {
  background-color: black;
  color: white;
  border: 2px solid var(--second-color);
  border-radius: 5px;
  padding: 5px 10px;
  font-family: var(--text-font);
  cursor: pointer;
  /*transition: border-color 0.3s ease;*/
}
#language:hover {
  border-color: #DB8DE0;
}
#language option {
  background-color: rgb(18, 18, 19);
  color: white;
}
@media (max-width: 1024px) {
    .nav-links {
        gap: 25px;
    }

    .nav-links a {
        font-size: 18px;
    }

    #hero {
        gap: 25px;
    }

    #hero h1 {
        font-size: 32px;
    }

    .rectangulo {
        flex-direction: column;
        text-align: center;
    }

    #nombre {
        text-align: center;
    }

    .texto-contenido p {
        text-align: center;
    }

    .nav-cookies {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-logo {
        order: 1;
        width: 100%;
        text-align: center;
    }

    .derechos {
        order: 2;
        width: 100%;
        text-align: center;
    }

    .languageList {
        order: 3;
        width: 100%;
        justify-content: center;
    }

    .language-select {
        order: 4;
        width: 100%;
        text-align: center;
    }
}

/* Móviles */
@media (max-width: 768px) {
    /* Navegación móvil */
    .navbar {
        height: 70px;
        padding: 10px 15px;
    }

    .logo img {
        height: 50px;
    }

    .nav-links {
        gap: 15px;
    }

    .nav-links a {
        font-size: 14px;
    }

    /* Hero móvil */
    #hero {
        padding: 30px 15px;
        gap: 20px;
    }

    #hero h1 {
        font-size: 24px;
    }

    #hero .btn {
        font-size: 20px;
        padding: 12px 20px;
        gap: 10px;
    }

    #hero .mando {
        width: 35px;
        height: 35px;
    }

    /* Perfil móvil */
    .rectangulo {
        padding: 20px;
        gap
    }/*incomplet*/



@media (max-width: 1024px) {
  .nav-cookies {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
  }
  
  .footer-logo {
    order: 1;
    width: 100%;
    text-align: center;
  }
  
  .footer-logo img {
    margin: 0 auto;
  }
  
  .copyright {
    order: 2;
    width: 100%;
    text-align: center;
  }
  
  .languageList {
    order: 3;
    width: 100%;
    justify-content: center;
  }
  
  .language-selector {
    order: 4;
    width: 100%;
    justify-content: center;
  }
}
/* Responsive para móviles *//*
@media (max-width: 1024px) {
  .nav-cookies {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
  }
  
  .footer-logo {
    order: 1;
    width: 100%;
    text-align: center;
  }
  
  .footer-logo img {
    margin: 0 auto;
  }
  
  .copyright {
    order: 2;
    width: 100%;
    text-align: center;
  }
  
  .languageList {
    order: 3;
    width: 100%;
    justify-content: center;
  }
  
  .language-selector {
    order: 4;
    width: 100%;
    justify-content: center;
  }
}*/
/*
Separación:

display: flex → pone las cajas en fila por defecto.

gap→ separa las cajas uniformemente con entre ellas.

justify-content: center → centra todas las cajas en la fila.

flex-wrap: wrap → permite que las cajas pasen a la siguiente fila si no caben.

space-between → primera caja a la izquierda, última a la derecha, resto distribuido equitativamente.

space-around → deja espacio alrededor de cada caja (mitad de espacio a los bordes).

space-evenly → deja el mismo espacio entre cajas y los bordes.

Margen 

Box-shadow → solo crea sombra alrededor de la caja.

Padding → espacio dentro de la caja (no afecta la separación entre cajas).

Margin → espacio externo, puede sumarse al gap si lo quieres extra.

Móvil:

toggle-label → aparece el botón “Ver descripción” en móviles (antes estaba oculto).

.mision:hover .descripcion → desactiva la expansión al pasar el mouse porque en móviles no hay hover (los móviles no tienen puntero).

line-height: Controla el espacio vertical entre líneas de texto.

overflow: hidden; Controla qué pasa con el contenido que se sale del contenedor.

hidden → oculta todo lo que sobresale.

font-weight: bold; Controla el grosor de la fuente.

width: fit-content; Ajusta el ancho del elemento al contenido que tenga. Por ejemplo, un botón con texto: el ancho se ajusta automáticamente al texto, sin estirarse.

transition: max-height 0.4s ease, padding 0.4s ease; Permite animar varias propiedades al mismo tiempo.*/